#include "resource.h"

#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS

IDI_OCTISSIMO ICON "Res/small.ico"

IDI_CRITICAL ICON "Res/critical.ico"
IDI_MAJOR ICON "Res/major.ico"
IDI_MINOR ICON "Res/minor.ico"
IDI_NONE ICON "Res/none.ico"
IDI_UNKNOWN ICON "Res/unknown.ico"

IDD_ABOUTBOX DIALOGEX 22, 17, 230, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "MS Shell Dlg 2", 400, 0, 0x1
BEGIN
    ICON            IDI_OCTISSIMO,IDC_MYICON,14,9,20,20
    CTEXT           "Octissimo Version 1.0",IDC_STATIC,49,10,119,8,SS_NOPREFIX
    CTEXT           "Copyright (C) 2020 Ondrej Spanel",IDC_STATIC,49,20,119,8
    DEFPUSHBUTTON   "OK",IDOK,195,6,30,11,WS_GROUP
END

IDD_LOGINBOX DIALOGEX 22, 17, 270, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Login"
FONT 8, "MS Shell Dlg 2", 400, 0, 0x1
BEGIN
    ICON            IDI_OCTISSIMO,IDC_MYICON,14,9,20,20
    LTEXT           "Currently logged in as:",IDC_STATIC,49,10,119,8,SS_NOPREFIX
    LTEXT           "XXXXX:",IDC_CURRENTUSERTEXT,130,10,80,8,SS_NOPREFIX
    LTEXT           "Enter your GitHub access token:",IDC_STATIC,49,20,119,8,SS_NOPREFIX
    EDITTEXT        IDC_TOKENEDIT,49,30,210,12
    PUSHBUTTON      "Cancel", IDCANCEL,195,60,30,11,WS_GROUP
    DEFPUSHBUTTON   "OK",IDOK,235,60,30,11,WS_GROUP
END

STRINGTABLE
BEGIN
    IDS_APP_TITLE         "Octissimo"
    IDS_APPTOOLTIP        "Octissimo"
    IDC_OCTISSIMO         "OCTISSIMO"
END
